[Generic]
api_base_url=http://localhost/v3
news_url=http://localhost/appnews.xml
products_url=http://localhost/productslatest.xml
backend=

[Drupal]
url=http://localhost/d7/api/v3
image_public_base=http://localhost/d7/
image_private_base=http://localhost/d7/system
hmac_key='zxcvbdummy'
key='qwertydummy'
apikey_dsn="pgsql:host=localhost;dbname=rwapidb"
apikey_user=rwapiuser
apikey_password=rwapipassword

[Prestashop]
user=''
key='';
url='http://localhost/prestashop';
host='localhost'
user='prestashop'
db='prestashop'
password='prestashop'

[MobileApp]
version=7
apk=appname-0.0.7-release-signed.apk

